@charset "utf-8";

@import "~buefy/src/scss/buefy-build.scss";

@import "./colors.scss";

@import "~bulma/sass/utilities/initial-variables";

$addColors: (
  "chalk": (
    $chalk,
    $chalk-invert
  )
);

@import "~bulma/sass/utilities/derived-variables.sass";

$colors: map-merge($colors, $addColors);

$family-sans-serif: "Nunito", sans-serif;

body {
  height: 100vh;
}

.fullheight {
  min-height: 100%;
}

.is-flex-start {
  align-items: flex-start !important;
}

.has-text-transparent {
  color: transparent;
}

label,
.is-clickable {
  cursor: pointer;
}

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "~bulma/bulma.sass";
