@charset "utf-8";

@import "~bulma/bulma.sass";
@import "./colors.scss";
@import "~buefy/src/scss/buefy-build.scss";

$family-sans-serif: "Nunito", sans-serif;

body {
  height: 100vh;
  color: $chalk !important;
}

.fullheight {
  min-height: 100%;
}

.is-flex-start {
  align-items: flex-start !important;
}

.has-text-transparent {
  color: transparent;
}

label,
.is-clickable {
  cursor: pointer;
}

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
